.movie_card {
    width: 200px;
    /* Define uma largura fixa para o card */
    display: flex;
    flex-direction: column;
    color: var(--text-white);
    background-color: var(--background-medium);
    border-radius: 8px;
    overflow: hidden;
    list-style: none;
    text-align: center;

    /* BORDA DE DEPURAÇÃO: VAI MOSTRAR OS LIMITES DO CARD */
   /* border: 2px solid red; */
}

.movie_image {
    width: 100%;
    /* A imagem vai ocupar 100% da largura do card (200px) */
}

.movie_title {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem;
}