.container {
    padding: 2rem 4rem;
}

.title {
    color: var(--text-white);
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.movies_container {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--netflix-red) var(--background-medium);
}

.hero_buttons {
    background: none;
    padding: 0.3rem 0.8rem;
    gap: 1.5rem;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    flex-direction: column;
    padding-bottom: 1rem;
}

.hero_button_play {
    gap: 0.5rem;
    border-radius: 25px;
    border: 2px solid var(--text-white);
    background: none;
    color: var(--text-white);
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 2 auto;
}

.hero_button_info {
    gap: 0.5rem;
    border-radius: 25px;
    border: 2px solid var(--text-white);
    background: none;
    color: var(--text-white);
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 auto;
}

.hero_button_play:hover {
    background-color: var(--text-white);
    color: var(--background-dark);
}

.hero_button_info:hover {
    background-color: var(--text-white);
    color: var(--background-dark);
}

.movies_container::-webkit-scrollbar {
    height: 8px;
}

.movies_container::-webkit-scrollbar-track {
    background: var(--background-medium);
}

.movies_container::-webkit-scrollbar-thumb {
    background-color: var(--netflix-red);
    border-radius: 10px;
}