/* Estilo do Fundo e Overlay do Filme */

.movie_backdrop{
    position: relative;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
}

.movie_overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--background-dark) 10%, rgba(0,0,0,0.7));
    z-index: 1;
}

/* Estilo do Conteúdo do Filme */
.movie_content{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column; /* Em telas pequenas, fica um em cima do outro */
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.poster {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0.5);
}

.movie_details{
    color: var(--text-white);
    text-align: center;
}

.movie_details h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Estilo das informações adicionais */

.tagline {
    font-size: 1.2rem;
    color: var(--text-gray);
    font-style: italic;
    margin-bottom: 2rem;
}

.info_bar{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.info_bar span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.info {
    margin-bottom: 1.5rem;
}
.info h3 {
    color: var(--netflix-red);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap:0.5rem;
}
.rating{
    width:70px; /* Define o tamanho do círculo */
}

.overview {
    line-height: 1.7;
}

/* Estilo para telas Maiores(Responsividade) */
@media(min-width: 768px) {
    .movie_content {
        flex-direction: row;
        /* Em telas maiores, fica lado a lado */
        align-items: flex-start;
    }

    .movie_details {
        text-align: left;
    }

    .info_bar {
        justify-content: flex-start;
    }
}

/* Estilo dos Gêneros */
.genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.genre {
    padding: 0.3rem 0.6rem;
    background-color: var(--background-medium);
    border: 1px solid var(--border-gray);
    border-radius: 4px;
    font-size: 0.9rem;
}

/* Ajuste para alinhar à esquerda em telas Maiores */
@media(min-width: 768px) {
    .genres {
        justify-content: flex-start;
    }
}

/* Trailer */
.trailer_button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: 2px solid var(--text-white);
    color: var(--text-white);
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 auto;
}

.trailer_button:hover {
    background-color: var(--text-white);
    color: var(--background-dark);
}